table,th,td{
    height:30px;
    border:2px solid black;
    border-collapse:collapse;
    text-align:center;
    font-size:20px;
    }
    input{
    width:60px;
    }
    #center{
    margin-left:auto;
    margin-right:auto;
    }
    #msg,#newmsg,#new{
    text-align:center;
    font-size:20px;
    }
    #demo{
    font-size:20px;
    }
    #sub{
     text-align:center;
     }
    #right,#nwmsg1{
     text-align:center;
     font-size:30px;
     color:green;
     }
     #wrong,#nwmsg2{
     text-align:center;
     font-size:30px;
     color:red;
     }